version: '3'
services:
  minienv:
    image: 127.0.0.1:5000/minienv/minienv:latest
    privileged: true
    volumes:
      - $volumeName:/var/lib/docker
    ports:
      - "$logPort"
      - "$editorPort"
      - "$proxyPort"
    environment:
      - MINIENV_ALLOW_ORIGIN=$allowOrigin
      - MINIENV_LOG_PORT=$logPort
      - MINIENV_EDITOR_PORT=$editorPort
      - MINIENV_PROXY_PORT=$proxyPort
      - MINIENV_GIT_REPO=$gitRepo
volumes:
  $volumeName: